.background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    overflow: hidden;
    z-index: -10;
}

div.background > div.object {
    position: absolute;
    bottom: -500px;
    width: 100px;
    height: 100px;
    /* background-image: repeating-conic-gradient(
        from 45deg,
        #ffffff09 0deg,
        #ffffff00 85deg
    ); */
    opacity: 0.3;
    background-size: 100% 100%;
}

/* .object > .left,
.object > .right,
.object > .front,
.object > .back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.object > .front {
    transform: translateZ(50px);
}
.object > .front {
    transform: rotateY(180deg) translateZ(50px);
}
.object > .right {
    transform: rotateY(90deg) translateZ(50px);
} */

@keyframes move1 {
    from {
        bottom: -500px;
        transform: rotate(0deg);
    }
    to {
        bottom: 1000px;
        transform: rotate(-360deg);
    }
}

@keyframes move2 {
    from {
        bottom: -500px;
        transform: rotate(0deg);
    }
    to {
        bottom: 1000px;
        transform: rotate(360deg);
    }
}

@keyframes move3 {
    from {
        bottom: -500px;
        transform: rotate(0deg);
    }
    to {
        bottom: 1000px;
        transform: rotate(-720deg);
    }
}

@keyframes move4 {
    from {
        bottom: -500px;
        transform: rotate(0deg);
    }
    to {
        bottom: 1000px;
        transform: rotate(720deg);
    }
}
