main.Contact {
    width: fit-content;
    height: fit-content;
    padding: 10px 20px 10px 20px;
    margin: var(--menu-height) 0 0 0;
    background-color: #121212c5;
    font-size: 20px;
    backdrop-filter: blur(10px);
}

main.Contact > p > a {
    color: #ffffff;
    text-decoration: underline;
}

main.Contact > p:last-child {
    text-align: center;
}